.slide.round {
    border-radius: 34px;
}
.slide.round:before {
    border-radius: 50%;
}
	.switchBtn {
    position: relative;
    display: inline-block;
    width: 88px;
    height: 30px;
}
.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 5px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 22px;
    left: 58px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #26b99a;
    padding-left: 40px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -20px;
}
.validation-error-label {
 color: #26b99a;   
}
.icono{
    border-radius: 45px;
}
