.data-plus-y{
    display: none;
    background: silver;
}
.nodata{
    display: none;
}
fieldset{
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;border:2px groove;
  border-radius: 5px;
}
legend {    
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    font-size: 14px;
    width: auto;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.dialog-message1{color: #f9200a;

}

/*inicio para el data title*/
[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color: #333;
    color: #fff;
    font-size: 14px;
    font-family: Raleway;
    position: absolute;
    padding: 3px 20px;
    bottom: 1.8em;/*sube o baja titulo*/
    left: -100%; /*izquierda o derecha el titulo*/
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    
}
[data-title] {
    position: relative;
}
[data-title1]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title1]:after {
    content: attr(data-title1);
    background-color: #333;
    color: #fff;
    font-size: 9px;
    font-family: Raleway;
    position: absolute;
    padding: 1px 10px;
    bottom: -0.1em;/*sube o baja titulo*/
    left: -10%; /*izquierda o derecha el titulo*/
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    height: 80px;
    width: 118px;
    white-space: initial;/*para que no se desborde el texto dentro del title*/
    line-height: 12px;
    
    
}
[data-title1] {
    position: relative;
}

/*fin para el data-tile*/
.inputborder {
    border: none;
        /*background-color: transparent;*/
        background-color:#fdfaee;
    width: 130px;
        margin: 8px -5px -6px -9px;
        padding: 2px;
        text-transform: uppercase;
        border-radius: 4px;
    }
.stylelabel {
    padding: 5px 5px 5px 5px;
    margin: -4px 0px -9px -5px;
    border-radius: 5px;
    opacity: 0.7;
    }    