h1 {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em;
    margin: 0 0 2em 0;
}
h2 {
    font-weight: normal;
    text-align: center;
    color: #777;
}



fieldset {
    padding: 0px 19px 6px 14px;
    border-color: #d4d4d4;
    border-style: solid;
    border-width: 2px;
    background: #fff;
}

legend {
    color: #50667c;
    padding: 0.3em 0.6em;
    border: 2px solid #d4d4d4;
    background: #fff;
    font-size: 11px;
    font-weight: bold;
}
legend.radio {
    border-radius: 50px;
}

.container ul {
    margin-top: 0;
    padding-left: 0em;
}
.container ul li {
    list-style-type: none;
}
.container ul + ul {
    margin-bottom: 0;
}
.container ul + ul > li + li label {
    margin-bottom: 0;
}

/*** Styling Radio & Checkbox Input Fields (start here) ***/
label {
    font-weight: 600;
    color: #777777;
    margin-bottom: 11px;
    width: 100%;
    float: left;
    cursor: pointer;
    padding: 0 0.6em;
    box-sizing: border-box;
    background: #e6e6e6;
    transition: all 0.5s ease 0s;
    border-radius: 4px;
}
.label1 {
    font-weight: 600;
    color: #1e2c3a;
    margin-bottom: 11px;
    width: 100%;
    float: left;
    cursor: pointer;
    padding: 0 0.6em;
    box-sizing: border-box;
    background: #889fb5;
    transition: all 0.5s ease 0s;
    border-radius: 4px;
}
.label2{
    font-weight: 600;
    color: #fbfcfd;
    margin-bottom: 1px;
    width: 100%;
    float: left;
    cursor: pointer;
    box-sizing: border-box;
    background: #2a3f54;
    transition: all 0.5s ease 0s;
    border-radius: 4px;
    padding: 7px 0px 7px 20px;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
    line-height: 3em;
}

input[type="radio"] + label {
    border-radius: 50px;
}

input[type="radio"]:disabled + label,
input[type="checkbox"]:disabled + label {
    color: #ccc !important;
    cursor: not-allowed;
}
input[type="radio"]:checked:disabled + label:after,
input[type="checkbox"]:checked:disabled + label:after {
    border-color: #ccc;
}

input[type="radio"] + label:before,
input[type="checkbox"] + label:before {
    content: "";
    width: 26px;
    height: 26px;
    float: left;
    margin-right: 0.5em;
    border: 2px solid #ccc;
    background: #fff;
    margin-top: 0.5em;
}
input[type="radio"] + label:before {
    border-radius: 100%;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
    background: #edd8d8; /*color del label despues de estar cliqueado*/ 
}
input[type="checkbox"]:checked + .label1 {
    background: #182532; /*color del label despues de estar cliqueado de la class label1*/
    color: #ccdced;
}

input[type="radio"]:checked + label:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid #d7380b;/*color del cuadrado del checkbox*/
    float: left;
    margin-left: -1.85em;
    margin-top: 1em;
    border-radius: 100%;
}
input[type="checkbox"]:checked + label:after {
    content: "";
    width: 12px;
    height: 6px;
    border: 4px solid #d7380b;/*color del cuadrado del checkbox*/
    float: left;
    margin-left: -1.95em;
    border-right: 0;
    border-top: 0;
    margin-top: 1em;
    transform: rotate(-55deg);
}

input[type="radio"]:checked + label:before,
input[type="checkbox"]:checked + label:before {
    border-color: #d7380b;/*color del cuadrado del checkbox*/
}

input[type="radio"]:checked:disabled + label,
input[type="checkbox"]:checked:disabled + label {
    background: #ccc;
    color: #fff !important;
}

input[type="radio"]:checked:disabled + label:before,
input[type="checkbox"]:checked:disabled + label:before {
    border-color: #bdbdbd;
}
.estyleacordeon{
    display:none;
    border: 1px solid #d3cccc;
    border-radius: 4px;
    padding: 5px;
    background-color: #ffffff;
    height: 367px;
}

.borderpanel{
 border: 1px solid #2a3f54;
border-radius: 4px;   
}

